---
// src/pages/index.astro

import { getPosts } from '../lib/getPosts';

const posts = await getPosts();
---

<html lang="fr">
  <head>
    <title>Mon Blog</title>
  </head>
  <body>
    <h1>Bienvenue sur mon blog</h1>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/${post.slug}/`}>{post.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
